.main-container{
  height: 70vh;
  width: 35%;
  border-radius:10px;
  border: 1px solid rgb(124, 124, 124);
  -webkit-box-shadow: 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0);

  background: #FCFCFC;
  background: -moz-radial-gradient(center, #FCFCFC 0%, #5FB8FF 54%, #3393FF 100%);
  background: -webkit-radial-gradient(center, #FCFCFC 0%, #5FB8FF 54%, #3393FF 100%);
  background: radial-gradient(ellipse at center, #FCFCFC 0%, #5FB8FF 54%, #3393FF 100%);

  min-width: 330px;
}

.btn{
  background-color:#3393FF;
  color:#f8f9fa
}

.btn:hover{
  background-color:#1381ff;
  color:#f8f9fa
}

@media screen and (max-width:1150px){
  .main-container{
  height: 55vh;
  width: 50%;
  }
}

@media screen and (max-width:670px){
  .main-container{
  height: 60vh;
  width: 75%;
  }
}